body 
{
    margin: 0;
    width: 100%;
}

.intro 
{
    position: relative;
    width: 100%;
    height: 1000px;
    margin: 0;
    background: url(../background.png) top left no-repeat;
    background-size: cover;
    z-index: 9;
}

.header-logo 
{
  position: relative;
  float: left;
  margin-top: 32px;
  margin-left: 296px;
  z-index: 56;
}

.header-menu 
{
    position: relative;
}

.menu-list 
{
    position: relative;	
    list-style-type: none;	
    text-transform: uppercase;
    margin: 0;
    z-index: 52;
}

.list__element 
{
    position: relative;
    left: 191.4px;
    top: 34.5px;
    margin-left: 46.4px;
    float: left;
    font: 400 11px/3 SansSerif, Open Sans;
    color: #f4f5f9;
    text-align: left;
}

.menu-list::after
{
    display: block;
    content: '';
    clear: left;
}

.list__element--active
{
    font-weight: 700;
    color: #e74c3c;
}

.list__element--selected
{
    position: relative;
    background-color: #e74c3c;
    width: 35px;
    border-top: 0.1px solid #e74c3c;
    margin-left: 645px;
}

.slider
{
    display: none;
}